In [ ]:
import pandas as pd

# Load Titanic dataset
# (Make sure titanic.csv is in the same folder as this notebook)
df = pd.read_excel("ny_citibikes_raw.xlsx")

# Show first few rows
df.head()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
0,2017-01-01 00:38:00,2017-01-01 01:03:00,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,1,Winter,10,Sunday
1,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
2,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
3,2017-01-01 01:56:00,2017-01-01 02:00:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,1,Winter,10,Sunday
4,2017-01-01 02:12:00,2017-01-01 02:23:00,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,1,Winter,10,Sunday

## 1. Dataset Exploration

  - What information does each column contain?

In [ ]:
df.columns

Index(['Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name',
       'End Station ID', 'End Station Name', 'Bike ID', 'User Type',
       'Birth Year', 'Age', 'Age Groups', 'Trip Duration',
       'Trip_Duration_in_min', 'Month', 'Season', 'Temperature', 'Weekday'],
      dtype='object')

  - Are there missing or duplicated values?

In [90]:
df.duplicated().value_counts()
df.dropna()

,Start Time,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Age,Age Groups,Trip Duration,Trip_Duration_in_min,Month,Season,Temperature,Weekday
0,2017-01-01 00:38:00,2017-01-01 01:03:00,3194,McGinley Square,3271,Danforth Light Rail,24668,Subscriber,1961,60,55-64,1513,25,1,Winter,10,Sunday
1,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
2,2017-01-01 01:47:00,2017-01-01 01:58:00,3183,Exchange Place,3203,Hamilton Park,26167,Subscriber,1993,28,25-34,639,11,1,Winter,10,Sunday
3,2017-01-01 01:56:00,2017-01-01 02:00:00,3186,Grove St PATH,3270,Jersey & 6th St,24604,Subscriber,1970,51,45-54,258,4,1,Winter,10,Sunday
4,2017-01-01 02:12:00,2017-01-01 02:23:00,3270,Jersey & 6th St,3206,Hilltop,24641,Subscriber,1978,43,35-44,663,11,1,Winter,10,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20395,2017-03-31 21:06:00,2017-03-31 21:10:00,3186,Grove St PATH,3203,Hamilton Park,24608,Subscriber,1968,53,45-54,244,4,3,Spring,18,Friday
20396,2017-03-31 21:13:00,2017-03-31 21:18:00,3195,Sip Ave,3194,McGinley Square,29219,Subscriber,1956,65,65-74,264,4,3,Spring,18,Friday
20397,2017-03-31 21:13:00,2017-03-31 21:18:00,3195,Sip Ave,3194,McGinley Square,29219,Subscriber,1956,65,65-74,264,4,3,Spring,18,Friday
20398,2017-03-31 21:26:00,2017-03-31 21:30:00,3195,Sip Ave,3201,Dey St,29276,Subscriber,1970,51,45-54,239,4,3,Spring,18,Friday
20399,2017-03-31 23:20:00,2017-03-31 23:30:00,3272,Jersey & 3rd,3268,Lafayette Park,24398,Subscriber,1984,37,35-44,618,10,3,Spring,18,Friday

In [91]:
df.isna().sum()

Start Time              0
Stop Time               0
Start Station ID        0
Start Station Name      0
End Station ID          0
End Station Name        1
Bike ID                 0
User Type               0
Birth Year              0
Age                     0
Age Groups              0
Trip Duration           0
Trip_Duration_in_min    0
Month                   0
Season                  0
Temperature             0
Weekday                 0
dtype: int64

  - What is the overall time span of the trips?

In [ ]:
print(f'La duracion es: {int(df.Trip_Duration_in_min.mean())}')

La duracion es: 9

## 2. Basic Statistics

  - What is the average trip duration (in minutes)?

In [ ]:
print(f'La media son: {int(df.Trip_Duration_in_min.mean())} minutos')

La media son: 9 minutos

  - What is the minimum and maximum duration?

In [ ]:
print(f'La minima son {df.Trip_Duration_in_min.min()} minutos y la maxima son: {df.Trip_Duration_in_min.max()} minutos')

La minima son 1 minutos y la maxima son: 6515 minutos

  - What are the most common start and end stations?

In [ ]:
print(f'La estacion mas comun es: {df["Start Station Name"].value_counts().index[0]} y la estacion que se usa mas al terminar es: {df["End Station Name"].value_counts().index[0]}')

La estacion mas comun es: Grove St PATH y la estacion que se usa mas al terminar es: Grove St PATH

## 3. Users and Demographics

  - How many unique bikes were used?

In [67]:
print(f'Las bicicletas unicas usadas fueron: {df["Bike ID"].value_counts().nunique()}')

Las bicicletas unicas usadas fueron: 96

  - What are the proportions of user types (Subscriber vs Customer)?

In [69]:
df["User Type"].value_counts(normalize=True)

User Type
Subscriber       0.981373
One-time user    0.018627
Name: proportion, dtype: float64

  - What is the age distribution of the users? Which age group uses the service the most?

In [99]:
print(f'Estos son los primeros 5 edades en porcentaje {df["Age"].value_counts(normalize=True).round(2).head()*100}')

Estos son los primeros 5 edades en porcentaje Age
37    10.0
32     6.0
35     5.0
41     5.0
38     5.0
Name: proportion, dtype: float64

In [96]:
df["Age Groups"].value_counts()

Age Groups
35-44    9247
25-34    4936
45-54    3581
55-64    1749
65-74     760
75+        67
18-24      60
Name: count, dtype: int64

##  4. Temporal Analysis

  - How does the number of trips vary by weekday?

In [104]:
df.Weekday.value_counts()

Weekday
Wednesday    4002
Thursday     3635
Monday       3051
Friday       2958
Tuesday      2937
Sunday       1915
Saturday     1902
Name: count, dtype: int64

- Which month or season has the most rides?

In [100]:
df.columns

Index(['Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name',
       'End Station ID', 'End Station Name', 'Bike ID', 'User Type',
       'Birth Year', 'Age', 'Age Groups', 'Trip Duration',
       'Trip_Duration_in_min', 'Month', 'Season', 'Temperature', 'Weekday'],
      dtype='object')

In [105]:
print(f'El mes con mas viajes fue: {df.Month.value_counts().index[0]} y la estacion con mas viajes es: {df.Season.value_counts().index[0]}')

El mes con mas viajes fue: 3 y la estacion con mas viajes es: Winter

- What time of day do most trips start?

In [112]:
df["Start Time"].dt.hour.value_counts().head(5)

Start Time
8     2650
18    2160
17    2048
7     1465
19    1447
Name: count, dtype: int64

## 5. Geographic Analysis

  - Which station pairs (start → end) appear most often?

Object `often` not found.